In [1]:
import pandas as pd
import geopandas as gpd

# Import intersections/private cameras data

In [2]:
df_private = pd.read_csv(
    "data/raw/all_intersections_with_private_cameras_and_how_many.csv",
    usecols=[0, 1, 7, 8],
)

df_private.info()
df_private.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6321 entries, 0 to 6320
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   IntersectionId     6321 non-null   object
 1   n_private_cameras  6321 non-null   float64
 2   Lat                6321 non-null   float64
 3   Long               6321 non-null   float64
dtypes: float64(3), object(1)
memory usage: 197.7+ KB

         IntersectionId  n_private_cameras        Lat       Long
0  AXjK_-0aLVwDtjXR1esO                1.0  40.859676 -73.859772
1  AXjK_-3agxjkLnQCdqZy                2.0  40.854365 -73.868713
2  AXjK_-5agxjkLnQCdqZ1                1.0  40.858956 -73.836250
3  AXjK_-5dLVwDtjXR1esV                3.0  40.832563 -73.885352
4  AXjK_-6kLVwDtjXR1esX                2.0  40.835918 -73.883474

In [3]:
gdf_private = gpd.GeoDataFrame(
    df_private, geometry=gpd.points_from_xy(df_private["Long"], df_private["Lat"])
).drop(["Lat", "Long"], axis=1)

gdf_private.info()
gdf_private.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 6321 entries, 0 to 6320
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   IntersectionId     6321 non-null   object
 1   n_private_cameras  6321 non-null   float64
 2   geometry           6321 non-null   geometry
dtypes: float64(1), geometry(1), object(1)
memory usage: 148.3+ KB

         IntersectionId  n_private_cameras                    geometry
0  AXjK_-0aLVwDtjXR1esO                1.0  POINT (-73.85977 40.85968)
1  AXjK_-3agxjkLnQCdqZy                2.0  POINT (-73.86871 40.85437)
2  AXjK_-5agxjkLnQCdqZ1                1.0  POINT (-73.83625 40.85896)
3  AXjK_-5dLVwDtjXR1esV                3.0  POINT (-73.88535 40.83256)
4  AXjK_-6kLVwDtjXR1esX                2.0  POINT (-73.88347 40.83592)

In [4]:
gdf_private.to_file("data/processed/intersections-private", driver="GeoJSON")

## Calculate min/max private camera numbers

In [5]:
print(
    df_private["n_private_cameras"].min(),
    df_private["n_private_cameras"].max(),
)

1.0 16.0

## Import intersections/public cameras data

In [6]:
df_public = pd.read_csv(
    "data/raw/all_intersections_with_public_cameras_and_how_many-martyna.csv",
    usecols=[0, 1, 7, 8],
)

df_public.info()
df_public.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1384 entries, 0 to 1383
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IntersectionId    1384 non-null   object
 1   n_public_cameras  1384 non-null   int64
 2   Lat               1384 non-null   float64
 3   Long              1384 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 43.4+ KB

         IntersectionId  n_public_cameras        Lat       Long
0  AXjK_--uLVwDtjXR1ese                 1  40.856624 -73.869245
1  AXjK_-S5LVwDtjXR1era                 2  40.812405 -73.929732
2  AXjK_-_0LVwDtjXR1esg                 1  40.857199 -73.868840
3  AXjK_-n-gxjkLnQCdqZZ                 1  40.855544 -73.887545
4  AXjK_-xKLVwDtjXR1esJ                 2  40.859547 -73.867351

In [7]:
gdf_public = gpd.GeoDataFrame(
    df_public, geometry=gpd.points_from_xy(df_public["Long"], df_public["Lat"])
).drop(["Lat", "Long"], axis=1)

gdf_public.info()
gdf_public.head()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1384 entries, 0 to 1383
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IntersectionId    1384 non-null   object
 1   n_public_cameras  1384 non-null   int64
 2   geometry          1384 non-null   geometry
dtypes: geometry(1), int64(1), object(1)
memory usage: 32.6+ KB

         IntersectionId  n_public_cameras                    geometry
0  AXjK_--uLVwDtjXR1ese                 1  POINT (-73.86925 40.85662)
1  AXjK_-S5LVwDtjXR1era                 2  POINT (-73.92973 40.81241)
2  AXjK_-_0LVwDtjXR1esg                 1  POINT (-73.86884 40.85720)
3  AXjK_-n-gxjkLnQCdqZZ                 1  POINT (-73.88754 40.85554)
4  AXjK_-xKLVwDtjXR1esJ                 2  POINT (-73.86735 40.85955)

In [8]:
gdf_public.to_file("data/processed/intersections-public", driver="GeoJSON")

## Calculate min/max public camera numbers

In [9]:
print(
    df_public["n_public_cameras"].min(),
    df_public["n_public_cameras"].max(),
)

1 8