In [1]:
import pandas as pd

# Intersections data

## Load data from Julien/Swetha (all boroughs)

In [2]:
df_intersections = (
    pd.read_csv(
        "data/raw/intersections_with_medians-2021-05-19.csv",
        usecols=[0, 2, 3, 4, 9, 10],
        dtype={"public_median": "int64", "private_median": "int64"},
    )
    .rename(
        {
            "IntersectionId": "intersection_id",
            "Borough": "borough",
            "Long": "x",
            "Lat": "y",
        },
        axis=1,
    )
    .assign(total_median=lambda df: df["public_median"] + df["private_median"])
)

df_intersections.info()
df_intersections.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19561 entries, 0 to 19560
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   intersection_id  19561 non-null  object
 1   borough          19561 non-null  object
 2   x                19561 non-null  float64
 3   y                19561 non-null  float64
 4   public_median    19561 non-null  int64
 5   private_median   19561 non-null  int64
 6   total_median     19561 non-null  int64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.0+ MB

,intersection_id,borough,x,y,public_median,private_median,total_median
0,AXkw4--42iuwklCl-qpo,Brooklyn,-73.937041,40.641658,0,0,0
1,AXkw4--72iuwklCl-qpp,Brooklyn,-73.972466,40.696180,0,0,0
2,AXkw4--b2iuwklCl-qpn,Brooklyn,-73.971872,40.693210,0,2,2
3,AXkw4-062iuwklCl-qpH,Brooklyn,-73.954281,40.640589,0,0,0
4,AXkw4-072iuwklCl-qpI,Brooklyn,-73.988546,40.702483,0,1,1

## Export to `.csv` for points adjustment in QGIS

In [3]:
df_intersections.to_csv("data/processed/camera-medians-2021-05-19.csv", index=False)

[Perform points adjustment in QGIS; Julien and Swetha join adjusted NTAs to intersections data]

## Load intersections data with adjusted NTAs from Julien/Swetha (three boroughs)

In [4]:
df_intersections_adj = pd.read_csv(
    "data/processed/camera-medians-2021-05-19-ntas-adjusted-recoded.csv"
)

df_intersections_adj.info()
df_intersections_adj.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19396 entries, 0 to 19395
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   intersection_id   19396 non-null  object
 1   borough           19396 non-null  object
 2   public_median     19396 non-null  int64
 3   private_median    19396 non-null  int64
 4   total_median      19396 non-null  int64
 5   adjusted_NTACode  19396 non-null  object
 6   adjusted_NTAName  19396 non-null  object
dtypes: int64(3), object(4)
memory usage: 1.0+ MB

,intersection_id,borough,public_median,private_median,total_median,adjusted_NTACode,adjusted_NTAName
0,AXkw4-uH2iuwklCl-qox,Brooklyn,0,1,1,BK88,Borough Park
1,AXkw40-B2iuwklCl-qao,Brooklyn,0,0,0,BK88,Borough Park
2,AXkw40-x2iuwklCl-qap,Brooklyn,0,1,1,BK88,Borough Park
3,AXkw405zLVwDtjXR1gOB,Brooklyn,0,1,1,BK88,Borough Park
4,AXkw406iLVwDtjXR1gOC,Brooklyn,0,0,0,BK88,Borough Park

## Group adjusted intersections by NTA (sum medians)

In [ ]:
# Should be 114 rows

## Export grouped data to `.csv` for joining to NTA polygons in QGIS

In [ ]:
# TKTK

## Calculate top-line statistics

In [ ]:
# TKTK